﻿@model RentingManager.Client.Models.Item.ItemInfoModel

@{
    ViewData["Title"] = "CreateItem";
}

<h2>Create Item</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AvailableItemTypes" class="control-label"></label>
                @Html.DropDownListFor(m => m.SelectedItemTypeId, new SelectList(Model.AvailableItemTypes, "Id", "Name", Model.SelectedItemTypeId.ToString()), htmlAttributes: new { @class="form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdetificationNumber" class="control-label"></label>
                <input asp-for="IdetificationNumber" class="form-control" />
                <span asp-validation-for="IdetificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelNumber" class="control-label"></label>
                <input asp-for="ModelNumber" class="form-control" />
                <span asp-validation-for="ModelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.Rates.Count; i++)
                {
                <div class="form-group">
                    <input asp-for="Rates[i].RentalRateType " class="form-control" type="hidden"/>
                    <label asp-for="Rates[i].RentalRateType" class="control-label">@Model.Rates[i].DisplayLabel</label>
                    <input asp-for="Rates[i].Rate " class="form-control" />
                    <span asp-validation-for="Rates[i].Rate" class="text-danger"></span>
                </div>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ItemList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
