﻿@using RentingManager.Client.Extensions
@model RentingManager.Client.Models.Item.ItemTypePagedListModel

@{
    ViewData["Title"] = "ItemTypeList";
}

<h2>Item Type List</h2>

<p>
    <a asp-action="CreateType">Create New</a>
</p>

@using (Html.BeginForm("ItemTypeList", "Item", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("", "Name", new { @class = "control-label" })
                @Html.TextBox("SearchByNameString", null, "", new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditType", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "DeleteType", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this item type?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var pager = Html.Pager(Model.PagerModel);
}
@if (!string.IsNullOrEmpty(pager.ToHtmlString()))
{
    <div class="pager">
        @pager
    </div>
}