﻿@using RentingManager.Client.Extensions
@model RentingManager.Client.Models.Item.ItemPagedListModel

@{
    ViewData["Title"] = "ItemList";
}

<h2>Item List</h2>

<p>
    <a asp-action="CreateItem">Create New</a>
</p>

@using (Html.BeginForm("ItemList", "Item", FormMethod.Get))
{
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("", "Item Type", new { @class = "control-label" })
                @Html.DropDownList("searchTypeId", new SelectList(Model.AvailableItemTypes, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("", "Name", new { @class = "control-label" })
                @Html.TextBox("SearchName", null, "", new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.Label("", "Idetification Number", new { @class = "control-label" })
                @Html.TextBox("searchIdentification", null, "", new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.Label("", "Model Number", new { @class = "control-label" })
                @Html.TextBox("searchModelNumber", null, "", new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<table class="table">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Idetification Number
            </th>
            <th>
                Model Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.IdetificationNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ModelNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditItem", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "DeleteItem", new { id=item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this item?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var pager = Html.Pager(Model.PagerModel);
}
@if (!string.IsNullOrEmpty(pager.ToHtmlString()))
{
    <div class="pager">
        @pager
    </div>
}
