﻿@model RentingManager.Client.Models.Rent.RentInfoModel

@{
    ViewData["Title"] = "Create";
}

<h2>Rent Items</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />
                <label asp-for="CustomerName" class="control-label"></label>
                <label asp-for="CustomerName" class="form-control">@Model.CustomerName</label>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNumber" class="control-label"></label>
                <input asp-for="ReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentingDate" class="control-label"></label>
                <input asp-for="RentingDate" type="date" class="form-control" />
                <span asp-validation-for="RentingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvancePayment" class="control-label"></label>
                <input asp-for="AdvancePayment" class="form-control" />
                <span asp-validation-for="AdvancePayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" value="Add Items" class="btn btn-primary" data-toggle="modal" data-target="#itemModal">Add Items</button>
            </div>
            <div>
                <br />
                <label asp-for="CustomerName" class="control-label">Items to be rented:</label>
                <br />
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Rate Type
                            </th>
                            <th>
                                Rate
                            </th>
                        </tr>
                    </thead>
                    <tbody id="rentItemTableBody">
                        @for (int i = 0; i < Model.RentItems.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => Model.RentItems[i].ItemId)
                                    @Html.DisplayFor(m => Model.RentItems[i].ItemName)
                                </td>
                                <td>
                                    @Html.HiddenFor(m => Model.RentItems[i].RateType)
                                    @Html.DisplayFor(m => Model.RentItems[i].RateType)
                                </td>
                                <td>
                                    @Html.HiddenFor(m => Model.RentItems[i].GivenRate)
                                    @Html.DisplayFor(m => Model.RentItems[i].GivenRate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div id="itemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Items</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Rent", FormMethod.Get))
                {
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("", "Item Type", new { @class = "control-label" })
                                @Html.DropDownList("searchTypeId", new SelectList(Model.ItemPopup.AvailableItemTypes, "Id", "Name"), htmlAttributes: new { @class = "form-control" , id ="ddlSearch"})
                            </div>
                            <div class="form-group">
                                <input type="button" value="Search" class="btn btn-success" id="btnSearch"/>
                            </div>
                        </div>
                    </div>

                }

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Idetification Number
                            </th>
                            <th>
                                Model Number
                            </th>
                            <th>
                                Rate Type
                            </th>
                            <th>
                                Rate
                            </th>
                        </tr>
                    </thead>
                    <tbody id="itemTableBody">
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var type = $('#ddlSearch').val();
            $.get("@Url.Action("ItemList", "Rent")"
                , { searchTypeId: type }
                , function (data) {
                    $("#itemTableBody").empty();
                    $(data).each(function () {
                        $("#itemTableBody").append(
                            '<tr>' +
                            '<td id="tdName' + this.id +'"> ' + this.name + '</td>' +
                            '<td> ' + this.idetificationNumber + '</td>' +
                            '<td> ' + this.modelNumber + '</td>' +
                            '<td> ' + getRateDropDownList(this.rates, this.id) + '</td>' +
                            '<td><input type="text" value="' + this.rates[0].rate + '" id = "txt' + this.id + '" class="form-control"/></td>' +
                            '<td><input type="button" value="+" onclick="addItem(' + this.id +')" class = "btn btn-primary"/></td>' +
                            '</tr>'
                        );
                    });

                    $('.ddlRates').change(function () {
                        var textBoxId = "txt" + $(this).attr('id').replace('ddl', '');
                        $('#' + textBoxId).val($(this).val());
                    });
            });
        });
    });

    function getRateDropDownList(rates, itemId) {
        var html = '<select class="ddlRates form-control" id = "ddl' + itemId +'">';
        $(rates).each(function () {
            html = html + '<option value="' + this.rate + '">' + this.rentalRateType + '</option>';
        });

        html = html + '</select>';

        return html;
    }

    var rowIndex = 0;

    function addItem(itemId) {
        var name = $('#tdName' + itemId).text();
        var rateType = $('#ddl' + itemId + ' :selected').text();
        var rate = $('#txt' + itemId).val();
        $("#rentItemTableBody").append(
            '<tr id="trRentItemTable' + itemId + '">' +
            '<td> <input type="hidden" name="RentItems[' + rowIndex + '].ItemId" id="RentItems_' + rowIndex +'__ItemId" value="' + itemId + '"/>' +
             name +
            '</td>' +
            '<td> <input type="hidden" name="RentItems[' + rowIndex + '].RateType" id="RentItems_' + rowIndex +'__RateType" value="' + rateType + '"/>' +
            rateType + '</td>' +
            '<td> <input type="hidden" name="RentItems[' + rowIndex + '].GivenRate" id="RentItems_' + rowIndex +'__GivenRate" value="' + rate + '"/>' +
            rate + '</td>' +
            '<td><input type="button" value="-" onclick="removeItem(' + itemId + ')" class = "btn btn-primary"/></td>' +
            '</tr> '
        );

        rowIndex++;
    }

    function removeItem(itemId) {
        $("#trRentItemTable" + itemId).remove();
    }

</script>