﻿@using RentingManager.Client.Extensions
@model RentingManager.Client.Models.Rent.RentPagedListModel

@{
    ViewData["Title"] = "RentList";
}

<h2>RentList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("RentList", "Rent", FormMethod.Get))
{
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("", "Status", new { @class = "control-label" })
                @Html.DropDownList("status", new SelectList(Model.StatusList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("", "Reference Number", new { @class = "control-label" })
                @Html.TextBox("refNumber", null, "", new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<table class="table">
    <thead>
        <tr>
            <th>Reference Number</th>

            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ReferenceNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CustomerId)
                </td>
                <td>
                    @Html.ActionLink("View/Return", "Return", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var pager = Html.Pager(Model.PagerModel);
}
@if (!string.IsNullOrEmpty(pager.ToHtmlString()))
{
    <div class="pager">
        @pager
    </div>
}
