﻿@model RentingManager.Client.Models.Rent.ReturnInfoModel

@{
    ViewData["Title"] = "Return";
}

<h2>Return</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Return">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="RentId" />
                <label asp-for="ReferenceNumber" class="control-label"></label>
                <input asp-for="ReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" type="date" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            @if (Model.PreviousPayments.Count() > 0)
            {
                <div>
                    Previous Payments
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Amount</th>

                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PreviousPayments)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Date)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            <div>
                Rented Items
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item Name</th>

                            <th>Rate Type</th>

                            <th>Given Rate</th>

                            <th>Renting Date</th>

                            <th>Return</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ReturnItems.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => Model.ReturnItems[i].Id)
                                    @Html.DisplayFor(m => Model.ReturnItems[i].ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.ReturnItems[i].RateType)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.ReturnItems[i].GivenRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.ReturnItems[i].RentingDate)
                                </td>
                                <td>
                                    @if (Model.ReturnItems[i].Returned)
                                    {
                                        @Html.CheckBoxFor(m => Model.ReturnItems[i].Returned, new { @disabled = "disabled" , @checked= "checked"})
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => Model.ReturnItems[i].Returned)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
