<div class="modal-content">
  <div class="modal-header">
    <h4>{{title || 'Confirm'}}</h4>
  </div>
  <div class="modal-body">
    <p>{{message || 'Are you sure you wish to delete this customer?'}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
  </div>
</div>
