﻿@model RentingManager.Client.Models.Customer.CustomerInfoModel

@{
    ViewData["Title"] = "CustomerAdd";
}


<hr />
<div class="panel panel-default">
    <div class="panel-heading">New Customer</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input asp-for="Name" id="name" type="text" class="form-control input-md" />
                    </div>
                    <div class="form-group">
                        <label for="nic">Nic</label>
                        <input asp-for="Nic" id="nic" type="text" class="form-control input-md" />
                    </div>
                    <div class="form-group">
                        <label for="address-line1">Address Line1</label>
                        <input asp-for="AddressLine1" id="address-line1" type="text" class="form-control input-md" />
                    </div>
                    <div class="form-group">
                        <label for="address-line2">Address Line2</label>
                        <input asp-for="AddressLine2" id="address-line2" type="text" class="form-control input-md" />
                    </div>
                    <div class="form-group">
                        <label for="address-line3">Address Line3</label>
                        <input asp-for="AddressLine3" id="address-line3" type="text" class="form-control input-md" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <div>
        <a asp-action="CustomerList">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
