﻿@using RentingManager.Client.Extensions
@model RentingManager.Client.Models.Customer.CustomerInfoPagedListModel

@{
    ViewData["Title"] = "CustomerList";
}
<br />
<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">Customer List</div>
    <div class="panel-body">
        @using (Html.BeginForm("CustomerList", "Customer", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("", "Nic", new { @class = "control-label" })
                        @Html.TextBox("SearchByNicString", null, "", new { @class = "form-control input-md" })
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Name", new { @class = "control-label" })
                        @Html.TextBox("SearchByNameString", null, "", new { @class = "form-control input-md" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-info" />
                    </div>
                </div>
            </div>

        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Nic
                    </th>
                    <th>
                        Address Line1
                    </th>
                    <th>
                        Address Line2
                    </th>
                    <th>
                        Address Line3
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLine1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLine2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLine3)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this customer?');" })|
                            @Html.ActionLink("Rent", "Create", "Rent", new { customerId = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @{
            var pager = Html.Pager(Model.PagerModel);
        }
        @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
        {
            <div class="pager">
                @pager
            </div>
        }
        </div>
    </div>
