
<div class="panel panel-default">
  <div class="panel-heading">New Item Type</div>
  <div class="panel-body">
    <form #fm="ngForm" novalidate (ngSubmit)="fm.form.valid && onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="Name" [(ngModel)]="itemType.name" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="Descrption">Description</label>
          <input type="text" class="form-control" name="Descrption" [(ngModel)]="itemType.description" />
        </div>
      </div>
      <div class="row">
        <div style="margin-top:10px;" class="col-md-4">
          <button type="submit" [disabled]="!fm.form.valid" class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
