<a [routerLink]="['/item-type', 0]" class="btn btn-info" role="button">New Item Type</a>
<br />
<br />

<div class="panel panel-default">
  <div class="panel-body">
    <div>
      <div class="row">
        <div class="col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="searchModel.name" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <br />
          <input type="button" class="btn btn-info" (click)="search()" value="Search" />
        </div>
      </div>
    </div>

    <div>
      <table class='table' *ngIf="itemTypeInfo">
        <thead>
          <tr>
            <th>Name</th>
            <th>Descrption</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemType of itemTypeInfo.entities">
            <td>{{itemType.name}}</td>
            <td>{{itemType.description}}</td>
            <td>
              <a class="btn btn-success" [routerLink]="['/item-type', itemType.id]">Edit</a>
            </td>
            <td>
              <input class="btn btn-danger" value="Delete" type="button" (click)="deleteConfirm(itemType.id)" />
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="itemTypeInfo.totalCount" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>
