<a [routerLink]="['/customer', 0]" class="btn btn-info" role="button">New Customer</a>
<br />
<br />

<div class="panel panel-default">
  <div class="panel-body">
    <div>
      <div class="row">
        <div class="col-md-4">
          <label for="nic">Nic</label>
          <input type="text" class="form-control" name="nic" [(ngModel)]="searchModel.nic" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="searchModel.name" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <br />
          <input type="button" class="btn btn-info" (click)="search()" value="Search" />
        </div>
      </div>
    </div>

    <div>
      <table class='table' *ngIf="customerInfo">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>NIC</th>
            <th>Address Line1</th>
            <th>Address Line2</th>
            <th>Address Line3</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerInfo.entities">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.nic}}</td>
            <td>{{customer.addressLine1}}</td>
            <td>{{customer.addressLine2}}</td>
            <td>{{customer.addressLine3}}</td>
            <td>
              <a class="btn btn-success" [routerLink]="['/customer', customer.id]">Edit</a>
            </td>
            <td>
              <input class="btn btn-danger" value="Delete" type="button" (click)="deleteConfirm(customer.id)" />
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="customerInfo.totalCount" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
  </div>

