
<div class="panel panel-default">
  <div class="panel-heading">New Customer</div>
  <div class="panel-body">
    <form #fm="ngForm" novalidate (ngSubmit)="fm.form.valid && onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="Name" [(ngModel)]="customer.name" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="Nic">Nic</label>
          <input type="text" class="form-control" name="Nic" [(ngModel)]="customer.nic" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="AddressLine1">Address Line1</label>
          <input type="text" class="form-control" name="AddressLine1" [(ngModel)]="customer.addressLine1" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="AddressLine2">Address Line2</label>
          <input type="text" class="form-control" name="AddressLine2" [(ngModel)]="customer.addressLine2" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="AddressLine3">Address Line3</label>
          <input type="text" class="form-control" name="AddressLine3" [(ngModel)]="customer.addressLine3" />
        </div>
      </div>
      <div class="row">
        <div style="margin-top:10px;" class="col-md-4">
          <button type="submit" [disabled]="!fm.form.valid" class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
  </div>
